html {
  font-size: 62.5%;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logoCcontainer div {
  height: 4rem;
  width: 4rem;
  background: black;
  border-radius: 50%;
}

.header-searchBar input {
  padding: 0.5rem 0.4rem; 
  border: 1px solid black;
}

.header-profilePicture div {
  height: 4rem;
  width: 4rem;
  background: black;
  border-radius: 50%;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

span {
  height: 1px;
  width: 25%;
  background: black;
}

.img-container {
  display: grid;
}

.img-150-300 {
  height: 150px;
  width: 300px;
}

.img-150-300 img {
  height: 100%;
  width: 100%;
}
